<h2>Book Appointment</h2>

<form method="post">
  {% csrf_token %}

  <label>Patient:</label><br />
  <select name="patient" style="width: 300px; padding: 6px" required>
    {% for patient in patients %}
    <option value="{{ patient.id }}">{{ patient.user.get_full_name }}</option>
    {% endfor %}</select
  ><br /><br />

  <label>Doctor:</label><br />
  <select name="doctor" style="width: 300px; padding: 6px" required>
    {% for doctor in doctors %}
    <option value="{{ doctor.id }}">{{ doctor.user.get_full_name }}</option>
    {% endfor %}</select
  ><br /><br />

  <label>Date:</label><br />
  <input
    type="date"
    name="date"
    style="width: 300px; padding: 6px"
    required
  /><br /><br />

  <label>Time:</label><br />
  <input
    type="time"
    name="time"
    style="width: 300px; padding: 6px"
    required
  /><br /><br />

  <button type="submit" style="width: 300px; padding: 6px">Book</button>
</form>

{% if messages %} {% for message in messages %}
<p style="color: green">{{ message }}</p>
{% endfor %} {% endif %}
