<h2>Doctor's Appointments</h2>

<ul>
  {% for appointment in appointments %}
  <li>
    <strong>Date:</strong> {{ appointment.date }}<br />
    <strong>Time:</strong> {{ appointment.time }}<br />
    <strong>Patient:</strong> {{ appointment.patient.user.get_full_name }}<br />
    <a href="{% url 'add_medical_record' appointment.id %}"
      >Add Medical Record</a
    >
  </li>
  <hr />
  {% empty %}
  <li>No appointments found.</li>
  {% endfor %}
</ul>
<a
  href="{% url 'dashboard' %}"
  style="
    display: inline-block;
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  "
  >← Back to Dashboard</a
>
