<h2>Your Medical Records</h2>

<ul>
  {% for record in records %}
  <li>
    <strong>Date:</strong> {{ record.appointment.date }}<br />
    <strong>Doctor:</strong> {{ record.appointment.doctor.user.first_name }}<br />
    <strong>Diagnosis:</strong> {{ record.diagnosis }}<br />
    <strong>Prescription:</strong> {{ record.prescription }}<br />

    <a href="{% url 'export_pdf' record.id %}">Download PDF</a>
  </li>
  <hr />
  {% empty %}
  <li>No records found.</li>
  {% endfor %}
</ul>
<a
  href="{% url 'dashboard' %}"
  style="
    display: inline-block;
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  "
  >← Back to Dashboard</a
>
