<h2>📝 Patient Signup</h2>
<form method="post">
  {% csrf_token %}
  <label>First Name:</label>
  <input type="text" name="first_name" required /><br />

  <label>Last Name:</label>
  <input type="text" name="last_name" /><br />

  <label>Username:</label>
  <input type="text" name="username" required /><br />

  <label>Password:</label>
  <input type="password" name="password" required /><br />
  <label>Age:</label>
  <input type="number" name="age" required /><br />

  <label>Gender:</label>
  <select name="gender" required>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="Other">Other</option></select
  ><br />

  <label>Contact:</label>
  <input
    type="tel"
    name="contact"
    value="+91 "
    pattern="^\+91\s?[0-9]{10}$"
    required
  /><br />

  <input type="submit" value="Register" />
</form>
